@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Slab Black';
  src: url('../public/fonts/RobotoSlab-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Bold';
  src: url('../public/fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab ExtraBold';
  src: url('../public/fonts/RobotoSlab-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab ExtraLight';
  src: url('../public/fonts/RobotoSlab-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Light';
  src: url('../public/fonts/RobotoSlab-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Medium';
  src: url('../public/fonts/RobotoSlab-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Regular';
  src: url('../public/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab SemiBold';
  src: url('../public/fonts/RobotoSlab-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab Thin';
  src: url('../public/fonts/RobotoSlab-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

a {
  text-decoration: underline;
  text-decoration-color: #cfdfea;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

a:hover {
  color: #d1495c;
}

.forward-top {
  text-decoration: none !important;
}

.priority-link {
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

h1 {
  font-size: 2rem; /* 32px (2 * 16px) */
}

h2 {
  font-size: 1.5rem; /* 24px (1.5 * 16px) */
}

h3 {
  font-size: 1.25rem; /* 20px (1.25 * 16px) */
}

h4 {
  font-size: 1.125rem; /* 18px (1.125 * 16px) */
}

h5 {
  font-size: 1rem; /* 16px (1 * 16px) */
}

h6 {
  font-size: 0.875rem; /* 14px (0.875 * 16px) */
}

.sticky-block {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.effect-item {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.effect-item-change {
  opacity: 1;
}

.effect-picture {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.effect-picture-change {
  opacity: 0;
}
